:root {
    --light: #f6f7f3;
    --base: #434540;
    --dark-font: #35442e;
    --light-font: #cec6c0;
    --dark1: #47372a;
    --accent1: #aed590;
    --accent2: #82ab63;
    --shadow: #484e3647;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    align-items: center;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Cabin", sans-serif;
    box-sizing: border-box;
    font-size: 14pt;
    display: grid;
    grid: 20dvh 1fr / 240px 1fr;
    background: var(--base);
    height: 100dvh;
}


li {
    list-style: none;
    margin: 20px;
}

li, a {
    text-decoration: none;
    color: var(--light-font);
    transition: all .1s;
}

h1, h2, h3, h4 {
    font-family: "Noto Sans", serif;
    margin: 0;
    padding: 0;
}

nav {
    grid-row-start: 2;
    grid-column-start: 1;
    gap: 8px;
    justify-content: center;
    height: 100%;
    box-shadow: 4px 0px 20px var(--shadow);

    ul {
        margin: 0;
        padding: 0;

        li, a {
            color: var(--light-font);
            font-size: 1.25rem;
            text-align: center;
        }
    }
}

:is(li, a):hover {
    color: var(--accent2);
}

main {
    z-index: 0;
    scroll-snap-type: y proximity;
    width: 100%;
    height: 80dvh;
    padding: 20px 10dvw;
    overflow: scroll;
    box-sizing: border-box;
    grid-row-start: 2;
    grid-column-start: 2;
    scroll-behavior: smooth;
}

.page {
    box-sizing: border-box;
    scroll-snap-align: center;
    width: 100%;
    height: 100%;
    margin: 20% 0px;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    color: var(--light-font);
    gap: 20px;

    h2 {
        font-size: 52px;
        color: var(--accent1);
    }

    h3 {
        font-size: 36px;
        color: var(--accent1);
    }
    h4 {
        font-size: 24px;
    }
    div {
        margin: 4px 0px;
    }
}

.page:first-of-type {
    margin-top: 0;
}

.page:last-of-type {
    margin-bottom: 0;
}

.active {
    color: var(--accent1);
    fill: var(--accent1);
}

header {
    width: 100dvw;
    height: 20dvh;
    background: center / cover url(Images/georgia-de-lotz-muN_TndU9A0-unsplash.jpg);
    z-index: 1;
    grid-row-start: 1;
}

#title {
    margin-left: 80px;
    font-weight: 400;
    font-size: 44px;
    color: var(--dark-font);
}

.head {
    justify-content: space-between;
    width: 100%;
}

section {
    width: 100%;
}