:root {
  --light: #f6f7f3;
  --base: #3e403b;
  --dark-font1: #35442e;
  --dark-font2: #2b2928;
  --light-font: #cec6c0;
  --main: #aaca91;
  --accent: #e29ba4;
  --accent-bright: #e87d8d;
  --base-dark: #272825;
  --shadow: #484e3647;
  --backdrop: hsla(75, 0%, 26%, 0.278);
  --skill: linear-gradient(90deg, var(--p3) 0%, var(--main) 80%);
  --top: 10dvh;

  --p1: #7a836e;
  --p2: #b5b8ac;
  --p3: #d1d0c8;
  --p4: #e4e5e0;
  --p5: #eaebe6;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.italics {
  font-style: italic;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  box-sizing: border-box;
  font-size: 14pt;
  display: grid;
  grid: calc(15dvh + var(--top)) 1fr / 240px 1fr;
  background: var(--base);
  height: 100dvh;
  transition: grid 0.5s;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 8px 0px;
}

li,
a {
  text-decoration: none;
  color: var(--light-font);
  transition: all 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  transition: all 0.2s;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}

h2,
h3,
h4 {
  font-family: "Lato", serif;
}

h2 {
  font-weight: 900;
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: 200;
  margin: 2px 0px 6px;
  font-size: 18px;
  font-style: italic;
}

nav {
  grid-row-start: 2;
  grid-column-start: 1;
  gap: 8px;
  justify-content: center;
  height: 100%;

  ul {
    margin: 0;
    padding: 0;

    li,
    a {
      color: var(--p2);
      font-size: 1.25rem;
      text-align: center;
    }

    li {
      margin: 20px 0px;
    }
  }
}

main {
  z-index: 0;
  scroll-snap-type: y proximity;
  width: 100%;
  height: 100%;
  padding: 20px 10dvw 20px 5dvw;
  overflow: scroll;
  box-sizing: border-box;
  grid-row-start: 2;
  grid-column-start: 2;
  scroll-behavior: smooth;
}

.page {
  box-sizing: border-box;
  scroll-snap-align: center;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 20% 0px;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
  color: var(--light-font);
  gap: 20px;

  h2 {
    font-size: 52px;
    color: var(--main);
  }

  h3 {
    font-size: 32px;
    color: var(--main);
  }

  h4 {
    color: var(--p4);
    font-size: 24px;
  }

  div {
    margin: 4px 0px;
  }
}

.page:first-of-type {
  margin-top: 0;
}

.page:last-of-type {
  margin-bottom: 0;
}

.active {
  color: var(--p5);
  fill: var(--p5);
}

.active::before {
  width: 1cap;
  height: 1cap;
  background-color: var(--main);
  border-radius: 50%;
}

header {
  width: 100%;
  height: 100%;
  background: center / cover
    url(Images/georgia-de-lotz-muN_TndU9A0-unsplash.jpg);
  z-index: 1;
  grid-row: 1;
  grid-column: 1 / 3;
}

#title {
  margin-left: 80px;
  font-weight: 400;
  font-size: 48px;
  color: var(--dark-font1);
  mix-blend-mode: multiply;
  place-self: end;
  padding-bottom: 4px;
}

.head {
  justify-content: space-between;
  width: 100%;

  span {
    text-align: right;
    width: 20ch;
    font-style: italic;
  }
}

section {
  width: 100%;
}

.icon {
  height: 24px;
  fill: var(--p4);
  transition: all 0.2s;
}

#projects h3 {
  border-bottom: 1px solid var(--main);
}

.icon svg {
  width: 100%;
  height: 100%;
}

.line {
  justify-content: space-between;
  gap: 20px;
}

.line > .container {
  align-items: flex-start;
}

.line div {
  margin: 0px;
}

.line .variable {
  align-items: flex-start;
}

.variable + div {
  margin-left: 20px;
}

.icons {
  width: 80px;
  min-width: 80px;
  justify-content: space-between;
}

.variable {
  flex-direction: column;
}

section ul li:first-child {
  margin-top: 0px;
}

#tagline {
  margin-left: 40px;
}

dialog {
  border: none;
  background: var(--p3);
  padding: 20px;
  border-radius: 32px;
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 4px;
  box-shadow: 4px 4px 20px var(--shadow);
  box-sizing: border-box;
  resize: horizontal;
  position: relative;
  overflow: visible;

  iframe {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    border: none;
  }

  h4 {
    font-size: 24px;
    color: var(--dark-font2);
  }

  .draggable {
    position: absolute;
    width: 34px;
    height: 60px;
    right: -46px;
    top: calc(50% - 30px);
    border-radius: 2px;
    cursor: col-resize;
    z-index: 2;
    justify-content: space-between;

    div {
      background: var(--accent-bright);
    }

    .l,
    .r {
      width: 8px;
      height: 8px;
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
    }

    .r {
      rotate: 180deg;
    }

    .c {
      width: 4px;
      height: 100%;
      border-radius: 2px;
    }
  }

  span {
    font-family: "Lato", serif;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--p3);
    transition: all 0.2s;
    cursor: pointer;
    font-weight: 900;
    background: var(--accent-bright);
    border-radius: 0px 32px 0px 6px;
    width: 24px;
    aspect-ratio: 1;
    font-size: 12pt;
    text-align: center;
    padding: 12px 4px 2px;
  }
}

dialog.mobile,
dialog.dynamic {
  width: 450px;
  height: min(900px, 90dvh);
}

dialog.desktop {
  width: max(1100px, 80dvw);
  height: 80dvh;
}

dialog::backdrop {
  background: var(--backdrop);
}

#about {
  justify-content: center;
  gap: 52px;
}

#skills {
  section {
    flex-wrap: wrap;
    align-items: center;
    width: 100% !important;
    justify-content: space-between;

    h3 {
      width: 100%;
    }
  }

  .progress {
    width: 100%;
    height: 20px;
    position: relative;
    margin: 0;
    border-radius: 8px;

    > div:not(.divider) {
      width: var(--value);
      background: var(--skill);
      height: 100%;
      position: absolute;
      inset: 0;
      margin: 0;
      border-radius: 8px;
    }

    #html {
      width: 73%;
    }

    #css {
      width: 90%;
    }

    #illustrator {
      width: 90%;
    }

    #python {
      width: 70%;
    }

    #js {
      width: 70%;
    }

    #photoshop {
      width: 65%;
    }

    #java {
      width: 55%;
    }

    #sap {
      width: 50%;
    }
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .container {
    width: min(60dvw, 550px);
    gap: 8px 20px;
  }

  .bar {
    align-items: flex-start;

    span {
      color: var(--p4);
    }
  }

  .hollow {
    fill: var(--base);
  }

  .divider {
    justify-content: space-evenly;
    height: 100%;
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    outline: 1px solid var(--p3);
    outline-offset: -1px;
    border-radius: 8px;

    div {
      width: 4px;
      height: 100%;
      background: var(--base);
    }
  }
}

#download {
  display: flex;
  align-items: flex-start;

  .icon {
    width: 28px;
    height: 28px;
    transition: all 0.2s;
    padding: 8px;
    background-color: var(--light-font);
    fill: var(--base);
    padding: 8px;
    border-radius: 50%;
    margin-bottom: 8px;
  }

  div {
    color: var(--light-font);
    transition: all 0.2s;
  }
}

@media screen and (max-height: 900px) {
  .line {
    .variable {
      flex-direction: row;
      gap: 0.5ch;
      align-items: flex-end;
      margin-bottom: 4px;
    }

    h5::before {
      content: " - ";
    }

    .variable h5 {
      margin: 0px;
    }
  }
}

@media (max-width: 1200px) {
  body {
    grid-template-columns: 15dvw 1fr;
  }
}

@media (max-width: 950px) {
  body {
    grid: calc(15dvh + var(--top)) 4dvh 1fr / none;
  }

  nav {
    grid-column: 1;
    grid-row-start: 2;
    flex-direction: row !important;
    background: var(--base);
    z-index: 2;
    padding: 8px;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 100%;
    }
  }

  main {
    grid-column: 1;
    grid-row-start: 3;
    padding: 20px 5dvw;
  }

  #title {
    margin-left: 5dvw;
  }

  header {
    grid-column: 1;
    background-position: bottom;
  }

  .page {
    height: auto;
    min-height: 100%;
  }

  dialog.desktop {
    width: 100dvw;
    padding: 20px 0px;
    margin: 0px;

    h4 {
      margin-left: 20px;
    }
  }

  #download {
    justify-content: center;
  }

  #skills section {
    justify-content: center;
  }
}

@media (max-width: 590px) {
  body {
    grid: calc(15dvh + var(--top)) 1fr / none;
  }

  nav {
    display: none !important;
  }

  main {
    grid-row-start: 2;
    scroll-snap-type: none;
  }

  .page {
    .head {
      flex-direction: column;
      gap: 4px;
      margin-bottom: 8px;
      text-align: left !important;
      align-items: flex-start;

      h3 {
        font-size: 28px;
        text-align: left;
      }

      span {
        text-align: left;
      }
    }
  }

  .line .variable {
    flex-direction: column;
    align-items: flex-start;
  }

  .line .icons {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    width: 40px;
    min-width: 40px;

    .icon {
      height: 30px;
    }
  }

  .line {
    margin-bottom: 20px;
  }

  .draggable {
    display: none;
  }

  dialog {
    padding: 20px 0px;
    box-shadow: none;

    span {
      top: 24px;
      right: 10px;
      font-size: 24px;
    }
  }

  dialog::backdrop {
    background: var(--light-font);
  }
}

@media (hover: hover) and (pointer: fine) {
  nav :is(li, a):hover {
    color: var(--accent);
  }

  #projects .icon:hover {
    fill: var(--accent);
  }

  .line:has(.icon:hover) h4 {
    color: var(--accent);
  }

  dialog span:hover {
    background: var(--accent);
  }

  #download a:hover {
    .icon {
      background-color: var(--accent);
      fill: var(--base);
    }

    div {
      color: var(--accent);
    }
  }
}
