:root {
    --background: #d7ebee;
    --foreground: #f7fbff;
    --button: #27affd;
    --active: #2760fd;
    --disabled: #27aefd85;
    --disabled-font: #ffffffad;
    --shadow: #7c8e913b;
    --font-color-1: black;
    --font-color-2: white;
}

[data-theme="dark"] {
    --background: #36484b;
    --foreground: #2b6bad;
    --button: #27affd;
    --active: #2760fd;
    --disabled: #27aefd85;
    --disabled-font: #ffffffad;
    --shadow: #1b25274f;
    --font-color-1: white;
    --font-color-2: white;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: 'Tsukimi Rounded', sans-serif;
    color: var(--font-color-1)
}

/* -------------------------- Header */

header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    position: absolute;
    top: -70px;
    width: 100%;
    transition: top .5s 1.5s;
    border: 0px;
}

header div {
    width: 200px;
    height: fit-content;
    border-radius: 0 0 26px 26px;
    padding: 12px;
    padding-top: 24px;
}

header.out {
    top: 0;
    border: 0px;
    transition: top .5s .18s;
}

/* -------------------------- top half */

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
}

.box {
    position: relative;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    user-select: none;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container:active {
    transform: translatey(3px);
}

.count {
    margin: 0;
    font-size: 52px;
}

h2 {
    margin: 0;
    position: absolute;
    bottom: 18px;
    font-size: 18px;
}

.hidden {
    display: none !important;
}

.set {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: -12px;
    left: -12px;
    position: absolute;
    z-index: 2;
    font-size: 20px;
}

.bubble {
    background: var(--foreground);
    box-shadow: 0px 6px 18px var(--shadow);
    box-sizing: border-box;
}

.top button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 6px;
    margin: 0;
    border-radius: 50%;
}

.firework {
    fill: var(--button);
    position: absolute;
    width: 71px;
    top: -28px;
    z-index: -1;
    transition: all .2s;
    opacity: 1;
}

.right {
    right: -71px;
}

.left {
    left: -71px;
    transform: scaleX(-1);
}

.left.covered {
    left: 50px;
    top: 100px;
    transform: rotate(45deg) scaleX(-1);
    opacity: 0;
}

.right.covered {
    right: 50px;
    top: 100px;
    transform: rotate(-45deg);
    opacity: 0;
}

/* -------------------------- bottom half */

.bottom {
    display: flex;
    height: 30vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    position: absolute;
    bottom: 0
}

button {
    background: var(--button);
    color: var(--font-color-2);
    fill: var(--font-color-2);
    border: none;
    box-shadow: 0px 6px 18px var(--shadow);
}

.bottom button {
    font-family: 'Varela Round', sans-serif;
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 8px;
    width: 200px;
    border-radius: 8px;
    font-size: 18px;
    transition: background .1s, color .1s;
}

.bottom button:disabled {
    background: var(--disabled);
    color: var(--disabled-font);
    pointer-events: none;
}

.bottom button:active {
    background: var(--active);
    transform: translateY(2px);
}